# Dependencies
node_modules/
client/node_modules/
server/node_modules/
dist/
client/dist/

# Env
.env
.env.local
.env.*.local
*.env

# IDE
.vscode/
.idea/

# Backend
server/prisma/*.db
server/prisma/*.db-journal
server/public/uploads/*
!server/public/uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
